$background-color:  #283747    ;

$tabs-background:	 #fdfefe ;
$tabs-tab-color-active: rgb(44, 95, 204);
$toolbar-ios-title-text-color: rgb(44, 95, 204);
$toolbar-md-title-text-color: rgb(44, 95, 204);

$button-ios-text-color: rgb(44, 95, 204);
$button-md-text-color: rgb(44, 95, 204);
$button-ios-background-color: rgb(230, 230, 230);
$button-md-background-color: rgb(230, 230, 230);
$text-color:  #fdfefe ;
$card-ios-background-color:  #1c2833 ;
$card-md-background-color:  #1c2833;
$card-ios-title-text-color:  #fdfefe;
$card-md-title-text-color:  #fdfefe;
$card-ios-text-color:  #fdfefe;
$card-md-text-color:  #fdfefe;
